<!DOCTYPE html>
<html>
<head>
<title>Ludlo.ws/Stag</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald&amp;v2">
</head>
<!--
Nope, no clues here.
 //-->
	<body>
		<div class="layout-978">
			<div class="left">
				<div class="col5 container main">
					<h1>Halt!</h1>
					<p>Give the highly secretive password to enter. <%= fail %></p>
					
					<form method="post" action="/login">
					<input type="password" name='password' id="auth" />
					<input type="image" src="/images/button-enter.png" border="0" name="submit" style="float: right;">
					</form>
			</div>
		
		</div>
		
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src="/javascripts/plugins.js"></script>
	<script src="/javascripts/script.js"></script>
	</body>
</html>